div {
  user-select: none;
  height: 24px;
  width: 24px;
  display: flex;
  justify-items: center;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  font-family: 'Material Symbols Rounded', emoji;
}
