<div class="page">
  <div class="main-section">
    <div class="upper-tab">
      <img src="full_yechat_logo.svg" alt="Logo"/>
      <div class="buttons">
        <app-text-button>Архітектура</app-text-button>
        <app-text-button>Реактивність</app-text-button>
        <app-filled-button>
          <app-icon>login</app-icon>
          Увійти
        </app-filled-button>
      </div>
    </div>
    <h1 class="slogan-top">Масштабовано та безпечно</h1>
    <div class="slogan-bottom">
      <h3>YeChat шифрує ваші повідомлення. Дані, конфіденційність на вищому рівні</h3>
      <app-filled-button>
        Увійти
      </app-filled-button>
    </div>
  </div>
  <div class="architecture-section">
    <div class="architecture-information">
      <img src="architecture.svg" alt="Architecture"/>
      <div class="architecture-text">
        <h4>Архітектура</h4>
        <p>Мікросервісна архітектура базована Kubernetes. Швидка продуктивість, реактивність. Apache Cassandra для зберігання великих об’ємних даних. Redis для кешування сесій.</p>
      </div>
    </div>
  </div>
  <div class="reactivity-section">
    <div class="reactivity-container">
      <div class="reactivity-information">
        <div class="reactivity-text">
          <h6>YeChat & Spring Reactive</h6>
          <p>Spring Reactive у поєднанні з Project Reactor. <br/> YeChat використовує це для швидкодії</p>
        </div>
      </div>
      <app-text-button id="reactivity-button">
        <app-icon>expand_content</app-icon>
        Дізнатися більше
      </app-text-button>
    </div>
  </div>
  <div class="framework-section">
    <div class="framework-information">
      <img src="framework.svg" alt="Spring"/>
      <div class="framework-text">
        <h4>Spring</h4>
        <h2>Швидкість і надійність необхідно для YeChat</h2>
        <p>Spring найдійний для побудови бекенду. Пришвидшує розробку в десятки раз. Spring Security забезпечує безпеку YeChat без необхідності великих налаштувань</p>
        <app-outlined-button>Дізнатися більше</app-outlined-button>
      </div>
    </div>
  </div>
  <div class="credentials-section">
    <div class="credentials-bar">
      <img src="full_yechat_logo_color.svg" alt="Credentials"/>
      <div class="credential-list">
        <ul style="list-style: none">
          <li style="font-weight: 600">Про YeChat</li>
          <li>Історія</li>
          <li>Архітектура</li>
          <li>Особливості</li>
          <li>Автор</li>
          <li>Масштабованість</li>
        </ul>
        <ul style="list-style: none">
          <li style="font-weight: 600">Платформи</li>
          <li>Android</li>
          <li>Web</li>
          <li>Desktop</li>
          <li>IOS</li>
        </ul>
      </div>
    </div>
    <div class="credentials-bottom">
      <a href="https://github.com/Xemii16/YeChat"><img src="github.svg" alt="Github" /></a>
      <app-divider [variant]="true"></app-divider>
      <p>Якщо не зазначено інше, ця робота ліцензована згідно з MIT License</p>
    </div>
  </div>
</div>
