@use '../../../styles' as styles;
@use "sass:color";

button {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 40px;
  background-color: styles.get-scheme-color("primary");
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  font: styles.get-font("label", "large");
  font-weight: 600;
  color: styles.get-scheme-color("on-primary");
  border-radius: 1000px;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
}

.state-layer {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
}

button:hover {
  box-shadow: styles.get-elevation("1");
  .state-layer {
    background-color: styles.get-state-color("on-primary", "8");
  }
}

button:focus-visible, button:active {
  box-shadow: none;
  .state-layer {
    background-color: styles.get-state-color("on-primary", "12");
  }
}

button:focus-visible {
  outline: none;
}

.disabled {
  pointer-events: none;
}

.disabled {
  color: color.change(styles.get-scheme-color("on-surface"), $alpha: 0.38);
  background-color: styles.get-state-color("on-surface", "12");
}

.icon {
  padding-left: 16px;
  padding-right: 20px;
  column-gap: 4px;
}
